ion-content {
  --background: rgb(14, 2, 48);
}
ion-textarea {
  border: 3px solid #6f00ff;
  --border-radius: 28px;
  --background: #fff;
}

h1 {
  font-size: xx-large;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}
