<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col
        sizeXs="12"
        sizeSm="10"
        sizeMd="8"
        sizeLg="6"
        sizeXl="4"
        class="ion-text-center greetingsCol"
      >
        <form [formGroup]="greetingsForm">
          <ion-text color="primary"> <h1>Santas Greetings</h1></ion-text>

          <div
            class="videoArea"
            (click)="captureVideo()"
            [hidden]="isRecording"
          >
            <ion-icon
              name="camera-outline"
              color="light"
              size="large"
            ></ion-icon>
            <span>Capture message</span>
          </div>

          <video
            class="video"
            #video
            autoplay
            playsinline
            muted
            [hidden]="!isRecording"
          ></video>

          <ion-button
            type="button"
            class="ion-margin-top"
            (click)="stopRecording()"
            [hidden]="!isRecording"
          >
            Stop Recording</ion-button
          >

          <ion-textarea
            class="ion-margin-top"
            placeholder="Your seasonal greetings"
            [rows]="4"
            autoGrow
            formControlName="greetings"
          >
          </ion-textarea>

          <ion-input
            class="ion-margin-top"
            placeholder="Your email"
            formControlName="email"
          >
          </ion-input>
          <ion-button
            type="button"
            [disabled]="greetingsForm.invalid || !videoBlob"
            class="ion-margin-top"
            (click)="submit()"
            size="large"
          >
            <ion-icon name="send-outline" color="light" slot="start"></ion-icon>
            Submit greetings</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="light"><h2>Your Greetings</h2></ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        sizeXs="12"
        sizeMd="6"
        sizeXl="4"
        *ngFor="let greeting of greetings | async"
      >
        <ion-card>
          <video
            controls
            [src]="(greeting.videoFile | async)"
            type="video/webm"
            playsinline
          ></video>
          <ion-card-content>
            <ion-text color="light"
              >{{ greeting.text }}
              <p>{{ greeting.email}}</p></ion-text
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
