<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col
        sizeXs="12"
        sizeSm="10"
        sizeMd="8"
        sizeLg="6"
        sizeXl="4"
        class="ion-text-center greetingsCol"
      >
        <form [formGroup]="greetingsForm">
          <ion-text color="primary"> <h1>Santas Greetings</h1></ion-text>

          <div class="videoArea" (click)="captureVideo()">
            <ion-icon name="camera-outline" color="light"></ion-icon>
            <span>Capture message</span>
          </div>

          <ion-textarea
            class="ion-margin-top"
            placeholder="Your seasonal greetings"
            [rows]="4"
            autoGrow
            formControlName="greetings"
          >
          </ion-textarea>

          <ion-input
            class="ion-margin-top"
            placeholder="Your email"
            formControlName="email"
          >
          </ion-input>
          <ion-button
            type="button"
            [disabled]="greetingsForm.invalid"
            class="ion-margin-top"
            (click)="submit()"
          >
            <ion-icon name="send-outline" color="light" slot="start"></ion-icon>
            Submit greetings</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
